:root {
  --blue: #61DAFB;
  --darker-gray: #21222A;
  --gray: #282D35;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--gray);

}

.blue {
  color: var(--blue);
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darker-gray);
  padding: 1.5rem;
  color: white;
  margin-bottom: 0;

}

.nav-logo-wrapper {
  display: flex;
  align-items: center;
}

.nav-react-logo {
  width: 60px;
  margin-right: 1rem;
  ;
}

.logo-title {
  font-weight: 700;
  font-size: x-large;
}

.extra-title {
  font-weight: 600;
}

.content {
  padding: 2rem;
  color: white;
  min-height: 100vh;
  background: url('./assets/react-large.svg') no-repeat right center;


}

.main-title {
  margin: 0;
  font-size: 3rem;
}

.fact-item {
  padding: 1rem;
  max-width: 400px;
}

.fact-item::marker {
  color: var(--blue);
  font-size: 1.5rem;
}