:root {
  --pink: #F55A5A;
  --darker-blue: #2B283A;
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 75px;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pink);
  gap: 1rem;
  color: white;
}